*{  margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: rgb(238,235,235);
    background: linear-gradient(90deg, rgba(238,235,235,1) 0%, rgba(235,228,228,1) 0%, rgba(227,223,223,1) 100%);

}
.head{
    margin: 15px;
    height: 50px;
}


.barra{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.title{
    position: relative;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    margin-right: 50px;
}
.navbar a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;
}

.navbar a:hover,
.navbar a:active{
    color: black;
    font-size: 15px;
}
/*Estilos de los iconos en la barra*/
.iconos{
    margin: -10px;
    display: flex;
    height: 32px;
    width: 200px;
    align-items: center;
    font-size: 23px;
}
.iconos a:hover,
.iconos a.active{
    font-size: 27px;
}

.iconos span{
    width: 25px;
    height: 25px;
    margin-right: 15px; 
}
.iconos a{
    text-decoration: none;
    align-items: center;
}
/*Estilos de el cuadro de informacion*/
.contenido h1{
    position: relative;
    margin-top: 75px;
    margin-left: 120px;
    font-size: 35px;
    color: #fff;
    width: 600px;
}
.contenido p{
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    margin-top: 15px;
    margin-left: 120px;
    font-size: 18px;
    color: #fff;
    width: 600px;
}
/*
.imgbarra{
    width: 400px ;
    display: block;
    justify-content: left;
    margin-left: 245px;
    margin-top:  10px;
    opacity: .9;
    /*El filter: drop-shadow ( con sus variaciones nos ayuda a poner un sombreado
    y poderlo dirigirlos en diferentes variaciones*/ 


.image{
    width: 400px ;
    display: block;
    justify-content: left;
    margin-left: 245px;
    margin-top:  10px;
    opacity: .9;
    background-image: url(./imagenes\ albumes/billie-ilish-_-enc);
    /*filter: drop-shadow(-10px -15px 25px rgba(0, 0, 0, 0.55));*/
    /*El filter: drop-shadow ( con sus variaciones nos ayuda a poner un sombreado
    y poderlo dirigirlos en diferentes variaciones*/ 
}
.info{
    display: flex;
    justify-content: space-around;   
}
.contenedor{
    margin-top: -10px;
    height: 260px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 6%, rgba(43,43,50,1) 46%, rgba(255,255,255,1) 100%);
}

/*Contenedor principal de las canciones*/
.sau{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: left;
    padding: 5vh;
    width: 100%;
    height: auto;
}
.box-canciones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.box-canciones .cancion{
    height: auto;
    width: 35rem;
    margin: 2rem;
}

/*Animacions y estilos de la primera cancion*/
.cancion{
    display: flex;
    height: auto;
    width: 600px;
}
.famy1 {
    display: flex;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-right: 80px;
    border-radius: 80px;
  }
  
.famy1 img {
    position: absolute;
    left: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
.famy1 img.gif:hover {
    opacity: 0;
  }
.fotop{
    width: 150px;
    height: 150px;
    border-radius: 80px;
    margin-left: 119px;
}
  .gif {
    width: 150px;
    height: 150px;
    margin-left: 119px;
    border-radius: 80px;
}
.texs{
    width: 466px;
    margin-top: 55px;
    margin-left: 160px;
}
.texs h3{
    width: 300px;
}
.texs h4{
    width: 300px;
}

/*Animacions y estilos de la 2 cancion*/
.cancion{
    display: flex;
    height: auto;
    width: 600px;
}
.famy2 {
    display: flex;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-right: 80px;
    border-radius: 80px;
  }
  
  .famy2 img {
    position: absolute;
    left: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .famy2 img.gif:hover {
    opacity: 0;
  }
  .can2{
    width: 150px;
    height: 150px;
    border-radius: 80px;
    margin-left: 690px;
}
  .gif-can2{
    width: 150px;
    height: 150px;
    margin-left: 690px;
    border-radius: 80px;
}
.texs-can2{
    width: 466px;
    height: auto;
    margin-top: 55px;
    margin-left: 17px;
}
.texs-can2 h3{
    width: 300px;
}
.texs-can2 h4{
    width: 300px;
}